<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <!-- <package name="com.litb.autolisting.app.common.product.entity.biz"/> -->
        <!-- <package name="com.litb.autolisting.app.common.product.entity.db"/> -->
        <!-- <package name="com.litb.autolisting.app.common.product.entity.db.auto"/> -->
        <!-- <package name="com.litb.autolisting.app.platform.amazon.entity.biz"/> -->
        <!-- <package name="com.litb.autolisting.app.platform.amazon.entity.db"/> -->
        <!-- <package name="com.litb.autolisting.app.platform.amazon.entity.db.auto"/> -->
    </typeAliases>
</configuration>